<header>
    <div class="container header-con" style="display: flex; justify-content: space-between; align-items: center;">
        <div class="balance">
            <div class="walletballance" >
                <h3 style="font-size: 16px;">Wallet Ballance: ₦<%- user.walBal %> </h3>
            </div>
            <div class="refballance">
                <h3 style="font-size: 16px;">Referral Reward:₦<%- (user.refered * 175) %></h3>
            </div>
        </div>
        
    </div>
</header>