<div class="reRoute">
    <div class="container flex-row reRouteItem">
        <a href="/tos" class="btn">Terms of Service</a>
        <a href="/" class="btn">Home</a>
    </div>
</div>
<br><br><br>