<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Buy data bundle at the cheapest rate, you can also refer friends and earn cash.">

		<link rel="icon" href="/site_icon.jpg">
		
	
		<meta property="og:image:height" content="312">
		<meta property="og:image:width" content="600">
		
		<meta property="og:type" content="website">


		<link rel="icon" href="/favicon.svg.png">






		<title>Login to Alt Data</title>


		<style type="text/css">




			@media screen and (min-width: 200px){


				*{
					padding: 0;
					margin: 0;
					list-style-type: none;

				}

				html{
					font-family: arial, helvetica, sans-serif;
					font-size: 8px;
				}



				body{
					background-color: rgb(220 223 220);
				}




				main{
					padding-bottom: 20px;
				}

				


				.login_facebook{
					font-size: 1.6rem;
					padding-bottom: 10px;
					text-align: center;
				}

				form{
					background-color: white;
					padding: 20px 0 20px 0;
					width: 90%;
					margin: auto;
					margin-top: 40px;
					border-radius: 8px;
				}


				input{
					background-color: rgb(243 245 243);
					display: block;
					padding-left: 10px;
					width: calc(90% - 10px);
					height: 30px;
					margin: auto;
					border: 1px solid rgb(210, 210, 210);
					font-size: 1.4rem;
				}

				input:focus{
					background-color: rgb(220 223 220);
				}

				.gmail_error{
					font-size: 1.1rem;
					color: red;
					width: calc(90% - 10px);
					margin: auto;
				}

				.fullName, .password, .rePassword{
					margin-top: 15px;
				}


				button{
					display: block;
					border-radius: 5px;
					width: calc(86% + 10px + 2px);
					margin: auto;
					margin-top: 20px;
					padding: 10px 0;
					font-size: 1.4rem;
					border: none;
					color: white;
					background-color: rgb(50, 100, 200);
				}



				.no_account{
					font-size: 1.3rem;
					text-align: center;
					margin-top: 40px;
				}


				.register{
					background-color: rgb(160, 20, 0);
					width: 60%;
					margin-top: 10px;
				}


			}








			@media screen and (min-width: 250px){

				html{
					font-size: 9px;
				}





				input{
					height: 35px;
				}


				button{
					padding: 11px 0;
				}

			}





			@media screen and (min-width: 300px){

				html{
					font-size: 10px;
				}





				input{
					height: 38px;
				}


				button{
					padding: 12px 0;
				}
			}







			@media screen and (min-width: 350px){

				html{
					font-size: 11px;
				}




				.login_facebook{
					font-size: 2rem;
					font-weight: 600;
					padding: 10px 0 20px 0;
					color: rgb(50, 50, 50);
				}




				input{
					height: 45px;
				}


				button{
					padding: 13px 0;
				}


			}









			@media screen and (min-width: 500px){
				main{
					max-width: 500px;
					margin: auto;
					margin-top: 30px;
				}



				form{
					width: 85%;
					box-shadow: 0 0 7px  0 rgb(170, 170, 170);
					margin-top: 10px;
				}

			}


			

		</style>
	</head>







	<body>

		

		<main role="main">

			<form>
				<p class="login_facebook">Login to Alt Data</p>
				<input required class="email" type="text" name="email" placeholder="Phone Number">
				<div class="email_error"></div>
				<input required class="password" type="password" name="password" placeholder="Enter Password">
                

				<button class="signUpButton">Login</button>
			</form>

			<p class="no_account">Don't have account?</p>
			<button onclick="window.location.href='/signup'" class="register">Register</button>

		</main>
    

    <script>
        const form = document.querySelector('form');
        const emailErr = document.querySelector('.email_error')
        

        form.addEventListener('submit', async (e)=>{
            e.preventDefault();

            // reset errors
            emailErr.textContent = '';
           

            //get the values
            let email = form.email.value.slice(-10)
            let password = form.password.value

            try {
                const res = await fetch('/login', {
                    method: 'POST',
                    body: JSON.stringify({email,password}),
                    headers: {'Content-Type':'application/json'},
                })

                const data = await res.json();
                console.log(data);
                
                if(data.id){
                    location.assign('/welcome')
                }
                if(data.errors.email){
                    emailErr.textContent = data.errors.email;
                }

               
                

            } catch(err){
                console.log(err);
            }
        })
        /* 

         */
    </script>
</body>
</html>
