
<!DOCTYPE html>
<html>
<head>


	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="/site_icon.jpg">



	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="/css/purchase.css">


	<title>Chatting with Alt Datas</title>








	<style type="text/css">

		body{
			background-color: rgb(10, 50, 40);
		}


		a{
			color: rgb(50, 120, 230);
		}


		button{
			font-size: 1.6rem;
			width: 85%;
			padding: 30px 10px;
			line-height: 1.5;
			height: auto;
			border-radius: 10px;
			background-color: rgb(0, 100, 40);
		}


		.loader{
			width: 25px;
			height: 25px;
			border-radius: 50%;
			border: 8px dotted rgb(230, 230, 230);
			margin: auto;
			animation-name: routate;
			animation-duration: 700ms;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}


		@keyframes routate{
			0%{
				transform: rotate(0deg);
			}

			100%{
				transform: rotate(360deg);
			}
		}


		body{
			padding-bottom: 40px;
		}


		.ans{
			margin: 60px 0 0 20px;
			width: 80%;
			padding-bottom: 40px;
		}

		.ans h2{
			font-size: 2rem;
			text-align: center;
		}

		.ans p{
			font-size: 1.6rem;
			margin-top: 30px;
			color: rgb(220, 220, 220);
			line-height: 1.4;
		}

		.ans p span{
			margin: 60px 0 10px 0;
			color: rgb(150, 170, 0);
			display: block;
		}

		.ans3 p span, .ans4 p span, .ans5 p span, .ans8 p span{
			display: inline;
		}


		.back{ 
			width: 80px;
			padding: 5px;
			font-size: 1.4rem;
			margin-right: 20px;
			margin-left: auto;
			border-radius: 3px;
		}



	</style>
</head>













<body >

	




	<section>



		<article class="ans5 ans" >
			<h2>Opps!!!, You Are Ineligible To Purchase Data With Us At This Time</h2>

			<p>

				You did not read the Term of Services?
				<br><br>

				We sell data at a ridiculously low cost and it's written in our <b>Terms Of Service</b> that one needs to invite at least 9 people (Get N3,150 reward) before using the data service, but you have only <span class="tirNumberOfReferral"> </span>.

				<br><br>

				If you have purchased data with us without following this terms, your purchase will remain pending and your data will be sent immediately when you have completed the 9 invitation.

				<br><br>

				Inviting people can be beneficial because you get rewarded with N350 for each person you invite and you can withdraw the rewards to your bank account.
				<br>

				<br><br> <a href="/tos">Click Here </a> to read full Terms of Service.<br><br>
				<a href="/best/referral">Click Here </a> to refer people.
			</p>

			<button class="back" onclick="window.location.href='/chat' ">Back</button>
		</article>

	</section>









	<script type="text/javascript">




	






	</script>



</body>
</html>