
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../../assets/purchase.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


	<title></title>

	<style type="text/css">

		html{
			color: black;
			font-family: arial;
		}

		body{
			background-color: rgb(235, 235, 235);
		}


		.wallet_wrapper{
			padding: 20px 0 20px 10px;
			box-sizing: border-box;
			font-size: 0.7rem;
			font-weight: 400;
			color: rgb(245, 245, 245);
			background-color: rgb(0, 25, 50);
		}
		
		.option_wrapper{
			width: 90%;
			margin-left: 5%;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;
			margin-top: 50px;
		}

		.option_wrapper > div{
			background-color: white;
			padding: 20px 10px;
			border-radius: 15px;
		}

		i{
			font-size: 2rem;
			margin-bottom: 10px;
			color: rgb(50, 130, 200);
			background-color: rgb(200, 230, 255);
			padding: 10px;
			border-radius: 50%;
		}

		i.second{
			color: rgb(255, 175, 50);
			background-color: rgb(255, 245, 200);
		}


		i.third{
			color: rgb(55, 220, 140);
			background-color: rgb(220, 255, 220);
		}

		.option_wrapper h4{
			font-size: 1.3rem;
			line-height: 1.3;
		}

		.option_wrapper p{
			margin-top: 10px;
			line-height: 1.3;
			font-size: 1.1rem;
			color: rgb(100, 100, 100);
		}
	</style>
</head>










<body>





	<section class="wallet_wrapper">
		<h2>Wallet Balance: <span class="wb">₦<%- user.walBal %></span></h2>
            <h2>Referral Reward: ₦<%- (user.refered * 350) %></h2>
	</section>


	<div class="option_wrapper">

		<div class="with_recharge" onclick="window.location.href='/best/fund/recharge'">
			<i class="far fa-newspaper"></i>
			<h4>Fund Using Recharge Card</h4>
			<p>You can buy recharge card from a nearby shop and use for funding</p>
		</div>

		<div class="with_bank" onclick="window.location.href='/best/fund/bank' ">
			<i class=" second fas fa-university"></i>
			<h4>Fund Using Bank Transfer</h4>
			<p>Purchase using bank transfer, by simply transferring your preferred amount to our account.</p>
		</div>


		<div class="with_bank" onclick="window.location.href='/best/fund/atm' ">
			<i class="third fas fa-credit-card"></i>
			<h4>Fund Using ATM Card</h4>
			<p>You can also use your bank card details for auto and quick funding.</p>
		</div>


		<br><br>
		
	</div>





</body>
</html>
